<main>
    <img src="img/SE-GitHub-image.png" alt="NCHS Logo" />
    <h1>Habits of Mind Journal Entry</h1>
    <div>
       


        <label>Journal Entry <textarea class="content">My Journal Entry</textarea></label>
        <input type="submit" class="submit" value="Submit" />
    </div>
</main>